<mat-card>
<form [formGroup]="formGroup">

  <button mat-stroked-button type="button" (click)="fileUpload.click()" >Pick Image</button>
  <div class="alert alert-success" *ngIf="alertMessage !== '' && alertMessage" ></div>
  <input type="file" #fileUpload  (change)="selectImage($event)"/>

  <div *ngIf="images !== '' && images">
      <img [src]="imagePreview" [alt] = "title"/>
  </div>

  <button mat-raised-button color="primary" (click)="onSubmit()">Upload Image</button>

</form>
</mat-card>

<!--
<div>
  <form [formGroup]="formGroup">
    <div>
      <button type="file" name="image" multiple placeholder="Image" (change)="selectImage($event)">Choose</button>
    </div>

    <br>

    <div>
      <button type="submit" (click)="onSubmit()">Upload</button>
    </div>
  </form>
</div>
-->
